body {
  font-family: 'Press Start 2P', monospace;
  font-size: 16px;
  line-height: 1.4;
  -webkit-font-smoothing: none;

  color: white;
  background-color: rgb(24, 24, 24);
}

a {
  color: rgb(180, 180, 255);
  white-space: nowrap;
}
a:visited {
  color: rgb(180, 180, 255);
}
a:active {
  color: rgb(180, 180, 255);
}

.name {
  white-space: nowrap;
}
