
body {
  margin: 0;

  font-family: 'Press Start 2P', monospace;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;

  background: rgb(24, 24, 24) url("../images/background-780.png") repeat-y fixed top center;

}

.content {
  color: white;
  background: black;
  -webkit-font-smoothing: none; /* webkit only */
  text-shadow: rgb(255, 180, 180) 0 0 4px; /* CRT-style glow */

  width: 540px;
  margin: -48px auto 0 auto;
  padding: 16px;
}

a {
  text-decoration: underline;
  padding: 4px 0; /* larger click target */
}
a:hover {
  text-decoration: underline;
}

a, a:visited, a:active {
  color: rgb(180, 180, 255);
  white-space: nowrap;
}

.name {
  white-space: nowrap;
}

.separator {
  color: rgb(128, 128, 128);
}

h1 {
  z-index: 10;

  background: url("../images/logo-680.png") 0 0 no-repeat;
  position: relative;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  width: 680px;
  height: 219px;
  margin: 0 auto;
  padding: 0;
}

.game, .links, .credits, .thanks {
  margin-bottom: 64px;
}

.license {
  text-shadow: none;
  font-size: 8px;
  color: rgb(128, 128, 128);
}

.license a, .license a:visited, .license a:active {
  color: rgb(128, 128, 128);
}


ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding-bottom: 8px;
}

.game {
  width: 512px;
  height: 544px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(64, 64, 64);
}
.game p {
  padding-top: 256px;
  text-align: center;
}
